body {
    font-family: Helvetica, sans-serif;
    background-color: #ebeaf3;
    text-align: center;
    padding: 187px;
}

h1 {
    font-size: 28px;
}

.container {
    background: #fdfeff;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

input {
    padding: 8px;
    font-size: 13px;
    width: 60px;
    margin: 10px;
}

button {
    background-color: #080949;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #261bc7;
}

#resultado {
    font-size: 10px;
    font-weight: bold;
    margin-top: 19px;
}
