body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddbff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f5f1f8;
    padding: 40px;
    padding-top: 28px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 28px;
}

label, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 93%;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #0d0047;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
